* {
    margin: 0px;
    padding: 0px;
}
body {
    width: 100vw;
    height: 100vh;
    background: black no-repeat top center;
    background-size: cover;
}
::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}
img {
    width: 100vw;
}
a {
    width: 100vw;
    background-color: red;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
    display: block;
    text-decoration: none;
    font-family: sans-serif;
    font-size: larger;
}
a:hover {
    background-color: darkred;
}